body {
  width: 100%;
  position: relative;
}

#navbar-example2 {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.jumbotron {
  height: 100vh;
  background-color: transparent !important; 
  background-image: url("../images/library.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: seashell;
}

.jumbotron p {
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  color: skyblue;
}

.carousel-picture {
  width: 100%;
  height: 100vh;
}

.card {
  width: 25%;
}

/* .card-img-top {
  height: 300px;
  width: 300px;
} */

.footer {
  height: 22vh;
  text-align: center;
}